In [1]:
import pandas as pd
import statsmodels.api as sm
from pandas import Series, DataFrame, Panel
from string import ascii_lowercase as letters
from scipy.stats import chisqprob
from __future__ import division
import os
import sys
import glob
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import random
import math
from scipy.stats import wrapcauchy
import matplotlib.pyplot as plt
%matplotlib inline
%precision 4
plt.style.use('ggplot')
from mpl_toolkits.mplot3d import Axes3D
import scipy.stats as stats
from functools import partial
np.random.seed(1234)

C:\Anaconda\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
def rw2(n):# this gives samples from weibull(5,2)
    distance=[]
    x=np.zeros(n)
    y=np.zeros(n)
    for i in range(1,n):
        r=random.weibullvariate(alpha,beta)
        theta=2.*math.pi*random.random()
        x[i]=x[i-1]+r*math.cos(theta)
        y[i]=y[i-1]+r*math.sin(theta)
    return(x,y)   
    
alpha=2#float(input("what's the scale?"))
beta=5#float(input("what's the shape?"))
n=100#int(input("how many steps?"))
#tries=int(input("how many tries?"))#  put tries=1  in order to properly save the list distance
data = rw2(n)
x=data[0]
y=data[1]

In [3]:
# The Series datatype can also be used to represent time series

import datetime as dt
from pandas import date_range

today = dt.date.today()
days = date_range(today, periods=n, freq='S')
tx = Series(x,index=days)# here I should put my function
ty=Series(y,index=days)
#ty.columns=('date','seconds','x-coordinate')
dftx=pd.Series.to_frame(tx)
#print(dftx)
#print (tx, '\n') # Note - includes end time
#print (ty, '\n') # Note - includes end time

In [4]:
dftx=dftx.assign(coordinate=y)
#dftx.columns=['x-coordinate']

In [5]:
 d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d, dtype=np.int8)
df.columns=['column1','column2']# changing the names
R=range(0,2)
df.assign(y=R)

   column1  column2  y
0        1        3  0
1        2        4  1

In [6]:
#dftx.columns=['x-coordinate','y-coordinate'] It works! type this again when you run the code,for some reason it gets stuck
dftx.columns=['x-coordinate','y-coordinate']
dftx

                     x-coordinate  y-coordinate
2018-02-10 00:00:00      0.000000      0.000000
2018-02-10 00:00:01     -2.037355      0.469790
2018-02-10 00:00:02     -1.573808     -1.547697
2018-02-10 00:00:03     -0.737653      0.123675
2018-02-10 00:00:04      0.062878      1.778254
2018-02-10 00:00:05     -2.071870      3.111017
2018-02-10 00:00:06     -1.168341      3.674614
2018-02-10 00:00:07     -3.215132      4.929442
2018-02-10 00:00:08     -1.762534      4.101445
2018-02-10 00:00:09     -1.903915      2.855350
2018-02-10 00:00:10     -3.252369      2.315501
2018-02-10 00:00:11     -4.816813      3.274031
2018-02-10 00:00:12     -6.285787      3.532579
2018-02-10 00:00:13     -5.998789      5.272065
2018-02-10 00:00:14     -5.569106      3.748381
2018-02-10 00:00:15     -4.268511      5.284050
2018-02-10 00:00:16     -5.550491      6.554402
2018-02-10 00:00:17     -4.779431      4.623237
2018-02-10 00:00:18     -3.969299      3.838541
2018-02-10 00:00:19     -3.078659      4.206628
2018-02-10 00:00:20     -2.048881      3.132709
2018-02-10 00:00:21     -3.367403      1.203500
2018-02-10 00:00:22     -4.018893     -0.350719
2018-02-10 00:00:23     -5.542618     -0.211171
2018-02-10 00:00:24     -4.861329      1.580888
2018-02-10 00:00:25     -3.613299      2.091610
2018-02-10 00:00:26     -5.373381      2.446933
2018-02-10 00:00:27     -6.662257      1.555886
2018-02-10 00:00:28     -7.388881     -0.636561
2018-02-10 00:00:29     -8.373661      1.380636
...                           ...           ...
2018-02-10 00:01:10     -3.702418     19.553167
2018-02-10 00:01:11     -2.565948     19.992987
2018-02-10 00:01:12     -3.873280     21.516457
2018-02-10 00:01:13     -2.554470     20.256279
2018-02-10 00:01:14     -4.996863     21.253001
2018-02-10 00:01:15     -6.596873     21.647668
2018-02-10 00:01:16     -6.033028     23.177455
2018-02-10 00:01:17     -5.775292     21.622086
2018-02-10 00:01:18     -4.629082     22.903953
2018-02-10 00:01:19     -3.752914     24.139851
2018-02-10 00:01:20     -2.784562     22.773506
2018-02-10 00:01:21     -4.049461     22.517320
2018-02-10 00:01:22     -5.489452     23.623251
2018-02-10 00:01:23     -4.397165     24.566366
2018-02-10 00:01:24     -5.717131     25.908687
2018-02-10 00:01:25     -5.181718     26.971155
2018-02-10 00:01:26     -7.115460     26.917994
2018-02-10 00:01:27     -6.531128     29.284374
2018-02-10 00:01:28     -8.518247     29.400545
2018-02-10 00:01:29    -10.182919     28.844204
2018-02-10 00:01:30     -9.917458     26.270842
2018-02-10 00:01:31    -11.961258     25.855660
2018-02-10 00:01:32    -10.177421     24.310963
2018-02-10 00:01:33     -9.634072     26.104498
2018-02-10 00:01:34    -10.148132     27.807335
2018-02-10 00:01:35    -11.362951     27.312657
2018-02-10 00:01:36    -12.230173     26.439865
2018-02-10 00:01:37    -12.842853     24.727027
2018-02-10 00:01:38    -14.022333     23.217948
2018-02-10 00:01:39    -13.373128     24.050862

[100 rows x 2 columns]

In [7]:
from datetime import datetime, timedelta
now = datetime.now()
print(now)
date=datetime(2009, 12, 4, 23, 3, 27, 343000)
print(now.microsecond)
print(date)

2018-02-10 19:36:13.594518
594518
2009-12-04 23:03:27.343000

In [8]:
print(now.strftime("%Y-%m-%d %H:%M:%S.%f").rstrip('0'))
print(now.strftime("%Y-%m-%d %H:%M:%S.%f"))#they're the same

2018-02-10 19:36:13.594518
2018-02-10 19:36:13.594518

In [9]:
# same thing, different code
span = timedelta(seconds=3662.567)
print(span)
date_fraction=timedelta(0, 3662, 567000)
print(date_fraction)

1:01:02.567000
1:01:02.567000

In [10]:
fraction_seconds=timedelta(seconds=0.1)# what I need,but it doesn't work below
print(fraction_seconds)
print(type(fraction_seconds))

0:00:00.100000
<class 'datetime.timedelta'>

In [11]:
date_fraction_seconds=datetime(2018, 2, 10, 0, 0, 0,1)# try something else,maybe this is the right format
print(date_fraction_seconds)

2018-02-10 00:00:00.000001

In [14]:
m=10*n
def rw2(m):# this gives samples from weibull(5,2)
    distance=[]
    x=np.zeros(m)
    y=np.zeros(m)
    for i in range(1,m):
        r=random.weibullvariate(alpha,beta)
        theta=2.*math.pi*random.random()
        x[i]=x[i-1]+r*math.cos(theta)
        y[i]=y[i-1]+r*math.sin(theta)
    return(x,y)   
    
alpha=2#float(input("what's the scale?"))
beta=5#float(input("what's the shape?"))
n=100#int(input("how many steps?"))
#tries=int(input("how many tries?"))#  put tries=1  in order to properly save the list distance
data_new = rw2(m)
x_new=data_new[0]
y_new=data_new[1]
print(len(data_new))
print(len(data_new[0]))

2
1000

In [17]:
#So we have n observations, so for every second we have a pair (x,y). We want now a subsample consisting of a 0.1 seconds step.
# Therefore instead of periods=n we have periods m=10*n
today = dt.date.today()
fraction_seconds = date_range(today, periods=m, freq='0.1S')
tx_new = Series(x_new,index=fraction_seconds)
ty_new=Series(y_new,index=fraction_seconds)
#print (tx_new, '\n') # Note - includes end time
#print (ty_new, '\n') # Note - includes end time

In [18]:
dftx_new=pd.Series.to_frame(tx_new)
dftx_new=dftx_new.assign(coordinate=y_new)
dftx_new.columns=['x-coordinate','y-coordinate']
dftx_new

                         x-coordinate  y-coordinate
2018-02-10 00:00:00.000      0.000000      0.000000
2018-02-10 00:00:00.100      2.497000      0.084757
2018-02-10 00:00:00.200      3.222785      2.343778
2018-02-10 00:00:00.300      2.633253      0.831883
2018-02-10 00:00:00.400      4.654012      2.450170
2018-02-10 00:00:00.500      5.961206      1.496490
2018-02-10 00:00:00.600      7.165856      1.701281
2018-02-10 00:00:00.700      6.993726      3.340375
2018-02-10 00:00:00.800      6.530696      2.026014
2018-02-10 00:00:00.900      4.600901      1.418259
2018-02-10 00:00:01.000      6.581988      1.088125
2018-02-10 00:00:01.100      5.001656      2.663719
2018-02-10 00:00:01.200      6.437323      3.259934
2018-02-10 00:00:01.300      5.512609      4.343570
2018-02-10 00:00:01.400      6.015759      6.310258
2018-02-10 00:00:01.500      6.504024      8.429904
2018-02-10 00:00:01.600      6.866710      9.803223
2018-02-10 00:00:01.700      6.928369      8.466599
2018-02-10 00:00:01.800      5.674087      6.073123
2018-02-10 00:00:01.900      7.226419      7.097473
2018-02-10 00:00:02.000      7.524397      9.074443
2018-02-10 00:00:02.100      8.187061      8.358659
2018-02-10 00:00:02.200      8.787919      9.966481
2018-02-10 00:00:02.300     10.984017     10.380703
2018-02-10 00:00:02.400     10.521319     11.387826
2018-02-10 00:00:02.500      9.666341     13.349000
2018-02-10 00:00:02.600      8.148618     13.074998
2018-02-10 00:00:02.700      9.024868     13.573780
2018-02-10 00:00:02.800      8.299308     15.180324
2018-02-10 00:00:02.900     10.282677     14.963694
...                               ...           ...
2018-02-10 00:01:37.000     46.942456     29.676531
2018-02-10 00:01:37.100     48.974220     30.333896
2018-02-10 00:01:37.200     48.329061     31.756121
2018-02-10 00:01:37.300     46.000132     31.897076
2018-02-10 00:01:37.400     47.247624     30.776473
2018-02-10 00:01:37.500     47.300608     32.804390
2018-02-10 00:01:37.600     48.418216     33.274034
2018-02-10 00:01:37.700     48.731217     35.343785
2018-02-10 00:01:37.800     51.014737     36.091762
2018-02-10 00:01:37.900     49.257826     36.895199
2018-02-10 00:01:38.000     47.235401     35.439413
2018-02-10 00:01:38.100     45.488081     35.409929
2018-02-10 00:01:38.200     45.904276     33.501929
2018-02-10 00:01:38.300     46.626881     31.360430
2018-02-10 00:01:38.400     48.317011     30.965595
2018-02-10 00:01:38.500     48.976488     30.139257
2018-02-10 00:01:38.600     47.808048     31.876479
2018-02-10 00:01:38.700     46.367821     29.951002
2018-02-10 00:01:38.800     48.122556     31.052922
2018-02-10 00:01:38.900     48.726470     28.808504
2018-02-10 00:01:39.000     47.092327     27.254068
2018-02-10 00:01:39.100     47.075181     25.511297
2018-02-10 00:01:39.200     48.766251     24.719636
2018-02-10 00:01:39.300     47.885123     25.552897
2018-02-10 00:01:39.400     46.295078     24.555412
2018-02-10 00:01:39.500     45.880823     27.428117
2018-02-10 00:01:39.600     45.737742     25.599722
2018-02-10 00:01:39.700     47.595363     24.852634
2018-02-10 00:01:39.800     49.387736     23.045221
2018-02-10 00:01:39.900     50.997453     24.447708

[1000 rows x 2 columns]